footer {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  background-color: #00060850;
  h3 {
    font-size: 22px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 120%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 3px;
      background-color: $tint;
    }
  }

.contact_links{
  display: flex;
  gap: 25px;
  a{
    svg{
      height: 24px;
      width: 24px;
      color: $heading;
    }
  }
}

}

@media screen and (min-width: 1100px) {
  footer {
    padding: 70px 0;

    h3 {
      font-size: 28px;
    }
  }
}
