#showcase {
  margin: 0 0 50px;
  padding: 50px 20px 0;
  width: 100%;
  .wrapper {
    max-width: 395px;
    margin: 0 auto;
  }
  h2 {
    font-size: 24px;
    font-weight: 700 !important;
  }
  .section_head {
    margin: 0 10px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 120%;
      left: 0;
      width: 60px;
      height: 3px;
      background-color: $tint;
    }
  }
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    margin: 40px auto;
    article {
      height: 450px;
      width: 100%;
      max-width: 400px;
      color: rgb(255, 255, 255);
      background-color: #001219b9;
      border-radius: 12px;
      padding: 20px;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      .details {
        margin-top: auto;
        h2 {
          font-size: 32px;
          width: 80%;
          margin: 20px 0;
          color: $heading;
        }
        p {
          font-size: 16px;
          color: $sub_heading;
          line-height: 1.5;
          margin: 20px 0 25px;
        }
        .links {
          display: flex;
          align-items: center;
          gap: 15px;
          margin: 15px 0;
          a {
            display: block;
            width: fit-content;
            color: white;
            &:hover {
              color: $tint;
            }
            svg {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
      img {
        position: absolute;
        inset: 0;
        z-index: -1;
        object-fit: cover;
        filter: blur(2px);
      }
    }
  }
}

@media screen and (min-width: 500px) {
}
